new_engage/src/main/resources/jde/sitemaster.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oracle.e1.bssv.JP550103/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://oracle.e1.bssv.JP550103/" name="SiteMasterManagerService">
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="bssvpolicy">
        <ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp1_2:Policy>
                <ns1:TransportToken>
                    <wsp1_2:Policy>
                        <ns1:HttpsToken/>
                    </wsp1_2:Policy>
                </ns1:TransportToken>
                <ns1:AlgorithmSuite>
                    <wsp1_2:Policy>
                        <ns1:Basic256/>
                    </wsp1_2:Policy>
                </ns1:AlgorithmSuite>
                <ns1:Layout>
                    <wsp1_2:Policy>
                        <ns1:Lax/>
                    </wsp1_2:Policy>
                </ns1:Layout>
            </wsp1_2:Policy>
        </ns1:TransportBinding>
        <ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp1_2:Policy>
                <ns2:UsernameToken
                        ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp1_2:Policy>
                        <ns2:WssUsernameToken10/>
                    </wsp1_2:Policy>
                </ns2:UsernameToken>
            </wsp1_2:Policy>
        </ns2:SupportingTokens>
    </wsp1_2:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://oracle.e1.bssv.JP550103/"
                        schemaLocation="sitemaster.xsd"/>
        </xsd:schema>
    </types>
    <message name="siteMasterQuery">
        <part name="siteMasterQuery" element="tns:siteMasterQuery"/>
    </message>
    <message name="siteMasterQueryResponse">
        <part name="siteMasterQueryResponse" element="tns:siteMasterQueryResponse"/>
    </message>
    <message name="BusinessServiceException">
        <part name="fault" element="tns:BusinessServiceException"/>
    </message>
    <message name="siteMasterTimeBasedQuery">
        <part name="siteMasterTimeBasedQuery" element="tns:siteMasterTimeBasedQuery"/>
    </message>
    <message name="siteMasterTimeBasedQueryResponse">
        <part name="siteMasterTimeBasedQueryResponse" element="tns:siteMasterTimeBasedQueryResponse"/>
    </message>
    <portType name="SiteMasterManager">
        <operation name="siteMasterQuery">
            <input wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterQueryRequest"
                   message="tns:siteMasterQuery"/>
            <output wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterQueryResponse"
                    message="tns:siteMasterQueryResponse"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterQuery/Fault/BusinessServiceException"/>
        </operation>
        <operation name="siteMasterTimeBasedQuery">
            <input wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterTimeBasedQueryRequest"
                   message="tns:siteMasterTimeBasedQuery"/>
            <output wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterTimeBasedQueryResponse"
                    message="tns:siteMasterTimeBasedQueryResponse"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP550103/SiteMasterManager/siteMasterTimeBasedQuery/Fault/BusinessServiceException"/>
        </operation>
    </portType>
    <binding name="SiteMasterManagerPortBinding" type="tns:SiteMasterManager">
        <wsp:PolicyReference URI="#bssvpolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="siteMasterQuery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="siteMasterTimeBasedQuery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SiteMasterManagerService">
        <port name="SiteMasterManagerPort" binding="tns:SiteMasterManagerPortBinding">
            <soap:address location="https://jdebsvqa.statoilfuelretail.com:6106/QA910/SiteMasterManager"/>
        </port>
    </service>
</definitions>